# Core API
fastapi
uvicorn[standard]
python-dotenv

# Database
sqlalchemy
alembic
psycopg2-binary

# ML & Data
pandas
scikit-learn
ultralytics
shapely
# torch and torchvision are installed separately in the Dockerfile

# NLP
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
nltk