alembic==1.16.5
fastapi==0.116.2
numpy==2.2.6
opencv-python==4.12.0.88
pydantic==2.11.9
python-dotenv==1.1.1
PyYAML==6.0.2
shapely==2.1.1
SQLAlchemy==2.0.43
torch==2.8.0
ultralytics==8.3.203
pandas
psycopg2-binary==2.9.10
uvicorn==0.35.0
starlette==0.48.0
pytest==8.4.2
pytest-timeout==2.4.0
